openapi: 3.2.0
info:
  contact:
    email: hello@uplimit.com
    name: Uplimit
    url: https://uplimit.com
  description: This API is used to manage organizations within the Uplimit platform. For more information, please reach out to your Uplimit Enterprise contact.
  title: Uplimit Organization Course API
  version: 2025-08-18
servers:
- description: Uplimit
  url: https://uplimit.com/api/organization/
tags:
- name: Course
paths:
  /v1/ListCourses:
    get:
      description: This API allows developers to list all courses in an organization.
      parameters:
      - explode: true
        in: query
        name: skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: take
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_ListCourses_get_200_response'
          description: The list of active users is returned successfully.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_CreateUser_post_400_response'
          description: The request is invalid.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_CreateUser_post_400_response'
          description: The request is unauthorized.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_CreateUser_post_400_response'
          description: One or more of the resources required to fulfill the request were not found.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_CreateUser_post_400_response'
          description: The request method is not allowed.
      security:
      - bearerAuth: []
      tags:
      - Course
      summary: Get list courses
      x-summary-source: derived
      operationId: getV1ListCourses
      x-operation-id-source: derived
components:
  schemas:
    _v1_ListCourses_get_200_response:
      example:
        courses:
        - uplimitCourseDescription: uplimitCourseDescription
          name: name
          uplimitCourseSlug: uplimitCourseSlug
          uplimitCourseId: uplimitCourseId
        - uplimitCourseDescription: uplimitCourseDescription
          name: name
          uplimitCourseSlug: uplimitCourseSlug
          uplimitCourseId: uplimitCourseId
        totalCount: 0.8008281904610115
      properties:
        courses:
          items:
            $ref: '#/components/schemas/_v1_ListCourses_get_200_response_courses_inner'
          type: array
        totalCount:
          type: number
      required:
      - courses
      - totalCount
    _v1_ListCourses_get_200_response_courses_inner:
      example:
        uplimitCourseDescription: uplimitCourseDescription
        name: name
        uplimitCourseSlug: uplimitCourseSlug
        uplimitCourseId: uplimitCourseId
      properties:
        uplimitCourseId:
          description: Internal ID to identify the course across the Uplimit platform.
          type: string
        uplimitCourseSlug:
          description: The slug (i.e. short name) of the course across the Uplimit platform.
          type: string
        uplimitCourseDescription:
          description: The description of the course (may be empty).
          type: string
        name:
          description: The name of the course.
          type: string
      required:
      - name
      - uplimitCourseDescription
      - uplimitCourseId
      - uplimitCourseSlug
    _v1_CreateUser_post_400_response:
      example:
        error: error
      properties:
        error:
          description: The error message.
          type: string
      required:
      - error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
